
body{
    background-color: yellow;
}

h1{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

p{
    font-family: "Roboto", sans-serif;
    width: 250px;
}

#container{
    margin: 0px auto;
    background-color: aliceblue;
    width: 600px;
}

.fixo{
    border: solid 1px rebeccapurple;
    position: fixed;
    right: 350px;
}
